@font-face {
  font-family: AvenirProRegular;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: AvenirProBold;
  font-weight: bold;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "AvenirProRegular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'AvenirProBold';
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

nav {
  background-color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 5;
}

nav .logo {
  width: 50%;
}

nav .logo img {
  width: 120px;
}

nav .nav-grid {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: calc(100vh - 80px);
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

nav .nav-grid a {
  text-decoration: none;
}

nav .nav-grid a .nav-link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
}

nav .nav-grid a .nav-link p {
  font-size: 25px;
  font-weight: 700;
  color: white;
}

nav .nav-grid a:nth-child(1) .nav-link {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 84, 107, 0.5))), url("../assets/img/students.jpg");
  background-image: linear-gradient(rgba(6, 84, 107, 0.5)), url("../assets/img/students.jpg");
}

nav .nav-grid a:nth-child(2) .nav-link {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 6, 31, 0.5))), url("../assets/img/nosotros.jpg");
  background-image: linear-gradient(rgba(107, 6, 31, 0.5)), url("../assets/img/nosotros.jpg");
}

nav .nav-grid a:nth-child(3) .nav-link {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 107, 31, 0.5))), url("../assets/img/servicios.jpg");
  background-image: linear-gradient(rgba(6, 107, 31, 0.5)), url("../assets/img/servicios.jpg");
}

nav .nav-grid a:nth-child(4) .nav-link {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 89, 6, 0.5))), url("../assets/img/beneficios.jpg");
  background-image: linear-gradient(rgba(107, 89, 6, 0.5)), url("../assets/img/beneficios.jpg");
}

nav .nav-grid a:nth-child(5) .nav-link {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 6, 62, 0.5))), url("../assets/img/students-2.jpg");
  background-image: linear-gradient(rgba(107, 6, 62, 0.5)), url("../assets/img/students-2.jpg");
}

nav .nav-grid a:last-child .nav-link {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 46, 58, 0.5))), url("../assets/img/iniciar-sesion.jpg");
  background-image: linear-gradient(rgba(8, 46, 58, 0.5)), url("../assets/img/iniciar-sesion.jpg");
}

nav .nav-hidden {
  top: -100vh;
  opacity: 0;
}

nav .menu {
  cursor: pointer;
  height: 22px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .menu .line {
  height: 3px;
  width: 100%;
  background-color: #07466b;
}

header {
  height: 100vh;
  background-image: url("../assets/img/portadaLarge.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

header p {
  font-size: 20px;
  margin-bottom: 20px;
}

header a {
  text-decoration: none;
  padding: 10px;
  background: #07466b;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  color: white;
}

@media (min-width: 1024px) {
  header h1 {
    font-size: 70px;
    margin-bottom: 20px;
    width: 60%;
  }
  header p {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1366px) {
  header h1 {
    width: 50%;
  }
}

.slider-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider-container .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.slider-container .slide-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-container .chevron-right, .slider-container .chevron-left {
  position: absolute;
  z-index: 2;
  width: 20px !important;
  color: white;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}

.slider-container .chevron-right {
  right: 20px;
}

.slider-container .chevron-left {
  left: 20px;
  -webkit-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.slider-section {
  background-color: #139e9e;
}

.intro {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#034444c5)), url("../assets/img/students.jpg");
  background-image: linear-gradient(#034444c5), url("../assets/img/students.jpg");
  color: white;
  padding: 50px 20px 30px 20px;
  background-size: cover;
  background-position: center;
}

.intro h2 {
  font-size: 45px;
  margin-bottom: 25px;
  font-weight: 600;
}

.intro p {
  font-size: 22px;
}

.benefits {
  padding: 50px 20px 30px 20px;
}

.benefits-title {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #07466b;
}

.benefits .item {
  background-color: #faf4f4;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  color: #3b3b3b;
}

.benefits .item h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}

.benefits .item p {
  font-size: 20px;
}

.benefits .item img {
  width: 60px;
  margin-bottom: 20px;
}

.services {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px 30px 20px;
}

.services-title {
  font-size: 45px;
  margin-bottom: 20px;
  color: #07466b;
  font-weight: 600;
}

.services-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 48, 56, 0.911))), url("../assets/img/students-2.jpg");
  background-image: linear-gradient(rgba(36, 48, 56, 0.911)), url("../assets/img/students-2.jpg");
  background-size: cover;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  color: #f2f2f2;
  padding: 50px 20px 50px 20px;
  border-radius: 8px;
}

.services-wrapper h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}

.services-wrapper p {
  font-size: 20px;
}

.services-wrapper img {
  width: 60px;
  margin-bottom: 20px;
}

.location {
  padding: 20px;
  background-color: #f2f2f2;
}

.location h2 {
  color: #07466b;
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 600;
}

footer {
  background-color: #07466b;
  color: white;
  padding: 50px 20px 50px 20px;
}

footer .image-logo img {
  width: 150px;
  margin-bottom: 30px;
}

footer .footer-title {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 600;
}

footer .footer-links {
  margin-bottom: 60px;
}

footer .footer-links h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

footer .footer-links ul .numbers,
footer .footer-links ul .social {
  margin-bottom: 30px;
}

footer .footer-links ul li {
  list-style: none;
}

footer .footer-links ul li a {
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  margin-bottom: 10px;
  color: #cecbcb;
}

footer p {
  font-size: 18px;
  text-align: center;
}

@media (min-width: 1024px) {
  .slider-container {
    width: 70%;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro h2 {
    font-size: 75px;
    margin-bottom: 25px;
    font-weight: bold;
  }
  .intro p {
    font-size: 25px;
    width: 60%;
  }
  .benefits {
    padding: 100px;
  }
  .benefits-title {
    font-size: 75px;
    font-weight: bold;
    width: 60%;
  }
  .benefits-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .benefits .item {
    margin: 30px;
  }
  .benefits .item h2 {
    font-weight: bold;
  }
  .services {
    padding: 100px;
  }
  .services-title {
    font-size: 75px;
    font-weight: bold;
  }
  .services-wrapper {
    margin: 20px;
  }
  .services-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .location {
    padding: 100px;
  }
  .location h2 {
    font-size: 75px;
    font-weight: bold;
  }
  footer {
    height: calc(100vh - 80px);
    padding: 50px 100px 50px 100px;
  }
  footer .footer-title {
    font-size: 75px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  footer .footer-links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-links-wrapper .contacto {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=style.css.map */