@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  background: #07466b;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
}

nav .logo img {
  width: 120px;
}

nav ul {
  display: none;
}

nav .menu {
  height: 25px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .menu .line {
  height: 3px;
  width: 100%;
  background-color: white;
}

header {
  height: 100vh;
  background-image: url("../images/portadaLarge.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

header p {
  font-size: 20px;
  margin-bottom: 20px;
}

header button {
  padding: 10px;
  background: #07466b;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  color: white;
}

.intro {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#034444c5)), url("../assets/students.jpg");
  background-image: linear-gradient(#034444c5), url("../assets/students.jpg");
  color: white;
  padding: 50px 20px 30px 20px;
  background-size: cover;
  background-position: center;
}

.intro h2 {
  font-size: 45px;
  margin-bottom: 25px;
  font-weight: 600;
}

.intro p {
  font-size: 22px;
}

.benefits {
  padding: 50px 20px 30px 20px;
}

.benefits-title {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 600;
}

.benefits .item {
  background-color: #faf4f4;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  color: #3b3b3b;
}

.benefits .item h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}

.benefits .item p {
  font-size: 20px;
}

.benefits .item img {
  width: 60px;
  margin-bottom: 20px;
}

.services {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px 30px 20px;
}

.services-title {
  font-size: 45px;
  margin-bottom: 20px;
  color: black;
  font-weight: 600;
}

.services-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 48, 56, 0.911))), url("../assets/students-2.jpg");
  background-image: linear-gradient(rgba(36, 48, 56, 0.911)), url("../assets/students-2.jpg");
  background-size: cover;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  color: #f2f2f2;
  padding: 50px 20px 50px 20px;
  border-radius: 8px;
}

.services-wrapper h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}

.services-wrapper p {
  font-size: 20px;
}

.services-wrapper img {
  width: 60px;
  margin-bottom: 20px;
}

.location {
  padding: 20px;
  background-color: #f2f2f2;
}

.location h2 {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 600;
}

footer {
  background-color: #07466b;
  color: white;
  padding: 50px 20px 50px 20px;
}

footer .image-logo img {
  width: 150px;
  margin-bottom: 30px;
}

footer .footer-title {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 600;
}

footer .footer-links {
  margin-bottom: 60px;
}

footer .footer-links h2 {
  font-size: 25px;
  font-weight: 500;
}

footer .footer-links ul .numbers,
footer .footer-links ul .social {
  margin-bottom: 30px;
}

footer .footer-links ul li {
  font-size: 20px;
  list-style: none;
  margin: 10px;
  color: #cecbcb;
}

footer p {
  font-size: 18px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */