@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

$global-college-primary: #07466b;
$global-college-secondary: #139e9e;

html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}
