.slider-container {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .slide {
        display: flex;

        width: 100%;
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .chevron {
        &-right,
        &-left {
            position: absolute;
            z-index: 2;
            width: 20px !important;
            color: white;
            top: 50%;
            transform: translate(0, -50%);
            cursor: pointer;
        }
        &-right {
            right: 20px;
        }
        &-left {
            left: 20px;
            transform: translate(0, -50%) rotate(180deg);
        }
    }
}
.slider-section{
    background-color: $global-college-secondary;
}
.intro {
    height: 100vh;
    background-image: linear-gradient(#034444c5), url("../assets/students.jpg");
    color: white;
    padding: 50px 20px 30px 20px;
    background-size: cover;
    background-position: center;

    h2 {
        font-size: 45px;
        margin-bottom: 25px;
        font-weight: 600;
    }
    p {
        font-size: 22px;
    }
}

.benefits {
    padding: 50px 20px 30px 20px;
    &-title {
        font-size: 45px;
        margin-bottom: 20px;
        font-weight: 600;
        color: $global-college-primary;
    }

    .item {
        background-color: rgb(250, 244, 244);
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 8px;
        color: rgb(59, 59, 59);
        h2 {
            font-size: 30px;
            margin-bottom: 20px;
            font-weight: 600;
        }
        p {
            font-size: 20px;
        }
        img {
            width: 60px;
            margin-bottom: 20px;
        }
    }
}

.services {
    //background-image: linear-gradient(rgba(0, 0, 0, 0.692)), url('../assets/students-2.jpg');
    //background-color: $global-college-primary;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px 30px 20px;
    &-title {
        font-size: 45px;
        margin-bottom: 20px;
        color: $global-college-primary;
        font-weight: 600;
    }
    &-wrapper {
        background-image: linear-gradient(rgba(36, 48, 56, 0.911)), url("../assets/students-2.jpg");
        background-size: cover;
        margin-bottom: 30px;

        background-repeat: no-repeat;
        color: #f2f2f2;
        padding: 50px 20px 50px 20px;
        border-radius: 8px;

        h2 {
            font-size: 30px;
            margin-bottom: 20px;
            font-weight: 600;
        }
        p {
            font-size: 20px;
        }
        img {
            width: 60px;
            margin-bottom: 20px;
        }
    }
}

.location {
    padding: 20px;
    background-color: #f2f2f2;
    h2 {
        color: $global-college-primary;
        font-size: 45px;
        margin-bottom: 20px;
        font-weight: 600;
    }
}

footer {
    background-color: $global-college-primary;
    color: white;
    padding: 50px 20px 50px 20px;

    .image-logo {
        img {
            width: 150px;
            margin-bottom: 30px;
        }
    }

    .footer-title {
        font-size: 45px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    .footer-links {
        margin-bottom: 60px;
        h2 {
            font-size: 25px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        ul {
            .numbers,
            .social {
                margin-bottom: 30px;
            }
            li {
                list-style: none;
                a {
                    font-size: 20px;
                    text-decoration: none;
                    list-style: none;
                    //margin: 10px;
                    margin-bottom: 10px;
                    color: rgb(206, 203, 203);
                }
            }
        }
    }
    p {
        font-size: 18px;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .intro {
        display: flex;
        flex-direction: column;
        padding: 100px;
        justify-content: center;
        h2 {
            // margin-left: 70px;
            font-size: 75px;
            margin-bottom: 25px;
            font-weight: bold;
        }
        p {
            //margin-left: 70px;
            font-size: 25px;
            width: 60%;
        }
    }

    .benefits {
        padding: 100px;
        &-title {
            font-size: 75px;
            font-weight: bold;
            width: 60%;
        }
        &-item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // flex-wrap: wrap;
        }

        .item {
            margin: 30px;
            h2 {
                font-weight: bold;
            }
        }
    }

    .services {
        padding: 100px;
        &-title {
            font-size: 75px;
            font-weight: bold;
        }
        &-wrapper {
            margin: 20px;
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .location {
        padding: 100px;
        h2 {
            font-size: 75px;
            font-weight: bold;
        }
    }

    footer {
        height: calc(100vh - 80px);
        .footer-title {
            font-size: 75px;
            margin-bottom: 20px;
            font-weight: bold;
        }
        padding: 50px 100px 50px 100px;
        .footer-links-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .contacto {
                order: 1;
            }
        }
    }
}
