nav {
    background: $global-college-primary;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;

    .logo {
        img {
            width: 120px;
        }
    }

    ul {
        display: none;
    }

    .menu {
        height: 25px;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .line {
            height: 3px;
            width: 100%;
            background-color: white;
        }
    }
}
