<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" stateConnectionString="tcpip=SampleStateServer:42424" cookieless="false" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <trust level="Full" originUrl="" />
    <globalization fileEncoding="utf-8" culture="en-US" uiCulture="de-DE" />
  </system.web>
  <connectionStrings>
    <add name="conBD" connectionString="server=50.62.209.39; Database=globalcollege;uid=Admin_yes;Pwd=global4299!!;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
<!--ProjectGuid: {23ed46ab-9fde-4de6-a330-e82b812f998f}-->